{% extends "base.html" %}

{% block cambiante %}
    <hr>
    <hr>
    <hr>
    <hr><br>
    <h6>Iniciá sesión para acceder a todo el contenido</h6>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Iniciar Sesión</button>
    </form><br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}