{% extends "base.html" %}

{% block cambiante %}
    <hr>
    <hr>
    <hr>
    <hr><br>
    <h6>Fijate que tragos hay!</h6>
    <hr>
    Ya sabes que tomar? Buscalo acá!
    <br><br>
    <form action="{% url 'buscart' %}">
        <table>
            {{ form_busqueda.as_table }}
        </table>
        <br>
        <input type="submit" , value="Buscar">
    </form>
    <hr>
    No sabes que tomar? Acá vas a encontrar todos los tragos publicados hasta el momento:
    <br><br>
    {% if all_arts %}
        {% for art in all_arts %}
            <p>
                Titulo: {{ art.titulo }}, detalle: {{ art.subtitulo }}
                <a href="{% url "detblog" art.titulo %}">Ver más</a>
                {% if user == art.autor %}
                    <a href="{% url "editart" art.titulo %}">Editar</a>
                    <a href="{% url "borrart" art.titulo %}">Eliminar</a>
                {% endif %}
            </p>
        {% endfor %}
    {% else %}
        <h6>No hay publicaciones por el momento.</h6>
    {% endif %}

    <hr>
    Te gustó alguna receta? Dejale un comentario al autor!
    <a href="{% url 'comentart' %}">
        <button>Comentar</button>
    </a>
    <br><br>
{% endblock %}